.top-content {
    padding: 160px 0;
    background:url('img/1bg.jpg') center center!important;
    background-size: cover;
}

.top-content_text {
    width: 700px;
    margin: 0 auto;
    color: #fff;
}

.top-content_text h1,
.top-content_text h1 a,
.top-content_text h1 a:hover,
.top-content_text h1 a:focus { color: #fff; text-decoration: none; }

.top-content_text p {
    opacity: 0.9;
    margin-top: 40px;
    font-size: 22px;
    line-height: 36px;
    font-style: italic;
}

.top-content_bottom-link {
    padding-top: 30px;
    padding-bottom: 7px;
}
.top-content_bottom-link .big-link-1 { background: none; border: 1px solid #fff; }
