.testimonials-container.section-container.section-container-gray
    .container
        .row
            .col-sm-12.testimonials.section-description.wow.fadeInUp
                h2 Testimonials
                .divider-1.wow.fadeInUp
                    span
                .testimonial-active
                .testimonial-single
                    p
                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        | lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                        br
                        a(href='') John Doe, johndoe.com
                    .testimonial-single-image
                        img(src='assets/img/testimonials/1.jpg', alt='', data-at2x='assets/img/testimonials/1.jpg')
                .testimonial-single
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        | ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        | incididunt ut labore et.
                        br
                        a(href='') Jane Jonsson, blog.jane.com
                    .testimonial-single-image
                        img(src='assets/img/testimonials/2.jpg', alt='', data-at2x='assets/img/testimonials/2.jpg')
                .testimonial-single
                    p
                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                        | lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
                        | quis nostrud exerci tation ullamcorper suscipit lobortis nisl.
                        br
                        a(href='') John Doe, johndoe.com
                    .testimonial-single-image
                        img(src='assets/img/testimonials/3.jpg', alt='', data-at2x='assets/img/testimonials/3.jpg')
                .testimonial-single
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        | ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        | incididunt ut labore et.
                        br
                        a(href='') Jane Jonsson, blog.jane.com
                    .testimonial-single-image
                        img(src='assets/img/testimonials/4.jpg', alt='', data-at2x='assets/img/testimonials/4.jpg')
