.section-container.section-container-gray
    .container
        .row
            .col-sm-12
                .scroll-to-top
                    a.scroll-link(href='#top-content')
                        i.fa.fa-chevron-up
