.what-we-do-container.section-container
    .container
        .row
            .col-sm-12.what-we-do.section-description.wow.fadeIn
                h2 What we do
                .divider-1.wow.fadeInUp
                    span
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
            .col-sm-4.what-we-do-box.wow.fadeInUp
                .what-we-do-box-icon
                    i.fa.fa-pencil
                h3 Web design
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            .col-sm-4.what-we-do-box.wow.fadeInDown
                .what-we-do-box-icon
                    i.fa.fa-gears
                h3 Development
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            .col-sm-4.what-we-do-box.wow.fadeInUp
                .what-we-do-box-icon
                    i.fa.fa-twitter
                h3 Social media
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
