.block-1-container.process-container.section-container.section-container-gray
    .container
        .row
            .col-sm-12.block-1.section-description.wow.fadeIn
                h2 Our process
                .divider-1.wow.fadeInUp
                    span
                p
                    | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                    | est notare quam littera gothica, quam nunc putamus parum claram lorem.
        .row
            .col-sm-6.block-1_left.wow.fadeInLeft
                .slider-1-box.slider-1-our-process
                    img.slider-1-img-active(src=require("./img/1d.jpg"), alt='', data-at2x=src=require("./img/1d.jpg"))
                    img(src=require("./img/2d.jpg"), alt='', data-at2x=src=require("./img/2d.jpg"))
                    img(src=require("./img/3d.jpg"), alt='', data-at2x=src=require("./img/2d.jpg"))
                    .slider-1-nav
            .col-sm-6.block-1_right.wow.fadeInUp
                h3 First step
                p
                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                p
                    | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                h3 Second step
                p
                    | Mirum est notare quam littera gothica, quam nunc putamus parum claram lorem ullamcorper suscipit lobortis nisl ut aliquip.
