.clients.section-container
  .container
    .row
      .col-sm-12.clients_list.wow.fadeInUp
        a(href='#')
          img(src=require("./img/1b.png"), alt='', data-at2x='src=require("./img/1b.png")')
        a(href='https://wrapbootstrap.com/theme/areta-agency-portfolio-template-WB0L5XF38?ref=azmind')
          img(src=require("./img/2b.png"), alt='', data-at2x='src=require("./img/2b.png")')
        a(href='https://wrapbootstrap.com/theme/seria-coming-soon-landing-page-WB05D4591?ref=azmind')
          img(src=require("./img/3b.png"), alt='', data-at2x='src=require("./img/3b.png")')
        a(href='https://wrapbootstrap.com/theme/jesis-responsive-app-landing-page-WB085528N?ref=azmind')
          img(src=require("./img/4b.png"), alt='', data-at2x='src=require("./img/4b.png")')
      