.counters-container.section-container.section-container-full-bg
    .container
        .row
            .col-sm-3.counter-box.wow.fadeInUp
                h4 7
                p Years of experience
            .col-sm-3.counter-box.wow.fadeInDown
                h4 128
                p Projects completed
            .col-sm-3.counter-box.wow.fadeInUp
                h4 17430
                p Lines of code
            .col-sm-3.counter-box.wow.fadeInDown
                h4 7390
                p Cups of coffee
