.portfolio-container.section-container
    .container
        .row
            .col-sm-12.portfolio.section-description.wow.fadeIn
                h2 Portfolio
                .divider-1.wow.fadeInUp
                    span
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        .row
            .col-sm-12.portfolio-filters.wow.fadeInUp
                a.filter-all.active(href='#') All
                |  /
                a.filter-design(href='#') Design
                |  /
                a.filter-development(href='#') Development
                |  /
                a.filter-branding(href='#') Branding
        .row
            .col-sm-12.portfolio-masonry
                .portfolio-box.design
                    img(src='assets/img/portfolio/1.jpg', alt='', data-at2x='assets/img/portfolio/1.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Lorem website
                .portfolio-box.development
                    img(src='assets/img/portfolio/2.jpg', alt='', data-at2x='assets/img/portfolio/2.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Sit amet logo
                .portfolio-box.branding
                    img(src='assets/img/portfolio/3.jpg', alt='', data-at2x='assets/img/portfolio/3.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Ipsum social
                .portfolio-box.development
                    img(src='assets/img/portfolio/4.jpg', alt='', data-at2x='assets/img/portfolio/4.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Etiam processus dynamicus
                .portfolio-box.design
                    img(src='assets/img/portfolio/5.jpg', alt='', data-at2x='assets/img/portfolio/5.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Processus dynamicus logo
                .portfolio-box.development
                    img(src='assets/img/portfolio/6.jpg', alt='', data-at2x='assets/img/portfolio/6.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Mirum est notare
                .portfolio-box.design
                    img(src='assets/img/portfolio/7.jpg', alt='', data-at2x='assets/img/portfolio/7.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') March notare site
                .portfolio-box.development
                    img(src='assets/img/portfolio/8.jpg', alt='', data-at2x='assets/img/portfolio/8.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Sit amet logo
                .portfolio-box.branding
                    img(src='assets/img/portfolio/9.jpg', alt='', data-at2x='assets/img/portfolio/9.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Lorem website
                .portfolio-box.design
                    img(src='assets/img/portfolio/10.jpg', alt='', data-at2x='assets/img/portfolio/10.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Mirum est notare
                .portfolio-box.development
                    img(src='assets/img/portfolio/11.jpg', alt='', data-at2x='assets/img/portfolio/11.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Etiam processus social
                .portfolio-box.branding
                    img(src='assets/img/portfolio/12.jpg', alt='', data-at2x='assets/img/portfolio/12.jpg')
                    .portfolio-box-text-container
                        .portfolio-box-text
                            p
                                a(href='#') Sit website logo
