.our-motto.section-container.section-container-full-bg
    .container
        .row
            .col-sm-12.our-motto_description.section-description.wow.fadeInLeftBig
                p
                    | "Success is not the key to happiness. Happiness is the key to success.
                    | If you love what you are doing, you will be successful."
                .our-motto_author ALBERT SCHWEITZER
