.team-container.section-container
    .container
        .row
            .col-sm-12.team.section-description.wow.fadeIn
                h2 The team
                .divider-1.wow.fadeInUp
                    span
                p
                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    | aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
        .row
            .col-sm-4.team_box.wow.fadeInUp
                .team_photo
                    img(src=require("./img/1c.jpg"), alt='', data-at2x=src=require("./img/1c.jpg"))
                h3 John Doe
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                .team-social
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        i.fa.fa-dribbble
                    a(href='#')
                        i.fa.fa-twitter
            .col-sm-4.team_box.wow.fadeInDown
                .team_photo
                    img(src=require("./img/2c.jpg"), alt='', data-at2x=src=require("./img/2c.jpg"))
                h3 Tim Brown
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                .team-social
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        i.fa.fa-dribbble
                    a(href='#')
                        i.fa.fa-twitter
            .col-sm-4.team_box.wow.fadeInUp
                .team_photo
                    img(src=require("./img/3c.jpg"), alt='', data-at2x=src=require("./img/3c.jpg"))
                h3 Sarah Red
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                .team-social
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        i.fa.fa-dribbble
                    a(href='#')
                        i.fa.fa-twitter
