.top-content
    .top-content-text.wow.fadeInUp
        .divider-2
            span
        h1
            a(href='') THIS IS RIONA
        .divider-2
            span
        p
            | This is Riona. A new one page template built with Bootstrap that you can use for your agency, portfolio or business website. Enjoy!
        .top-content-bottom-link
            a.big-link-1(href='#') Start a project!
