.contact_form {
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact_form p {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
}

.contact_form form {
    max-width: 700px;
    margin: 0 auto;
}

.contact_form form input, .contact_form form textarea {
    width: 95%;
    height: 52px;
    margin-bottom: 5px;
}

.contact_form form textarea { height: 162px; }

.contact_form form button { width: 95%; }

.contact_form form .contact_error { border-color: #8ec1cd; }
