footer
    .container
        .row
            .col-sm-7.footer-copyright
                | © Riona Bootstrap Template by
                a(href='http://azmind.com') Azmind
                | .
            .col-sm-5.footer-social
                a(href='#')
                    i.fa.fa-facebook
                a(href='#')
                    i.fa.fa-dribbble
                a(href='#')
                    i.fa.fa-twitter
                a(href='#')
                    i.fa.fa-google-plus
                a(href='#')
                    i.fa.fa-pinterest
