
footer {
    padding: 25px 0 20px 0;
    text-align: right;
}

.footer_copyright {
    margin: 11px 0 0 0;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}

.footer_social a { margin: 0 8px; font-size: 39px; color: #ddd; }
.footer_social a:hover, .footer_social a:focus { color: #ddd; opacity: 0.6; }

