.what-we-do_box {
    margin-top: 30px;
}

.what-we-do_box h3 {
    padding: 10px 0;
}

.what-we-do_box p {
    font-size: 18px;
    color: #aaa;
    line-height: 32px;
}

.what-we-do_box .what-we-do-box_icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding-top: 30px;
    background: #8ec1cd;
    -moz-border-radius: 65px; -webkit-border-radius: 65px; border-radius: 65px;
    font-size: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.what-we-do_box .what-we-do-box_icon i, .what-we-do_box .what-we-do-box_icon span { vertical-align: middle; }
