
.testimonials p {
    padding: 0;
}

.testimonial_single {
    display: inline-block;
}

.testimonial_single p {
    display: none;
}

.testimonial-single_image {
    display: inline-block;
    width: 58px;
    margin: 0 5px 10px 5px;
}

.testimonial-single_image img {
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    -moz-border-radius: 31px; -webkit-border-radius: 31px; border-radius: 31px;
}

.testimonial_active {
    padding-bottom: 20px;
}
