nav
    a.scroll-link(href='#top-content') Top
    a.scroll-link(href='#what-we-do') Services
    a.scroll-link(href='#process') Process
    a.scroll-link(href='#portfolio') Portfolio
    a.scroll-link(href='#testimonials') Testimonials
    a.scroll-link(href='#team') About
    a.scroll-link(href='#contact') Contact
    .hide-menu
        a(href='')
            i.fa.fa-bars
.show-menu
    a(href='')
        i.fa.fa-bars
